/* couleurs : Primaire : #f3ebd0, Secondaire :#black, Tertiaire : #white
   Fonts : Roboto, Roboto condensed, Scope One, sans-serif.
    
   version mobile.
*/

@media screen and (max-width:980px) {
    body {
        font-family: "Roboto", "Roboto Condensed", "Scope One" "sans-serif";
        background-color: black!important;
        /* background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(243, 235, 208, 0.281) 10%, rgba(0, 0, 0, 0.658) 80%), url("../assets/banimg.webp"); */
        background-repeat: no-repeat;
        background-position: top;
        background-size: fill;
        background-attachment: fixed;
    }
    * {
        font-family: "Roboto", "sans-serif";
    }
    
    a {
        color: rgb(255, 255, 255);
    }
    
    h3 {
        font-family: "Roboto", "sans-serif";
    }
    .p-1 {
        padding: 10px;
        width: 95%;    
    }
    
    .p-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
    }
    
    h1 {
        font-family: "Roboto Condensed";
        color: white;
        text-transform: uppercase;
        text-align: center;
        width: auto;
    }

    /* HEADER // LOGO + FORMU VILLE */
    .logo {
        width: 20%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 20px 0;
    }
       
    .t1 {
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
        /* padding: 0 20px; */
    }
    
    .t2 {
        display: block;
        flex-wrap: wrap;
        font-size: 1.2em;
        color: whitesmoke;
        text-align: center;
    }
    
    .menu {
        background-color: #f3ebd0;
        display: block;
        padding: 10px 0px 10px 0;
        margin: 0 -8px 0 -8px;
        position: -webkit- sticky;
        position: sticky;
        z-index: 1000;
        opacity: 1;
        top: 0;
    }

    /* ----- menu ----- */

.custom-btn {
    width: auto;
    color: #000000;
    border-radius: 30px;
    padding: 10px 25px;
    /* font-weight: 500; */
    background-color: #f3ebd0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
     /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1); */
    outline: none;
  }
.btn-m {
    border: none;
    color: #000000;
  }
.btn-m:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    direction: rtl;
    z-index: -1;
    box-shadow:
     0px 0px 20px 0px rgba(255, 255, 255, 0.6),
     0px 0px 5px 0px rgba(255, 255, 255, 0.6),
     7px 7px 20px 10px rgba(255, 253, 253, 0),
     4px 4px 5px 0px rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
    
  }
.btn-m:hover {
    color: #ffffff;
    background-color: #000000;
  }
.btn-m:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
.btn-m:active {
    top: 2px;
  }
    
.alignMenu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

    }

.fa-palette, .fa-envelope, .fa-home {
    margin-right: 5px;
    }   


    
    /* conteneur A PROPOS // page accueil */

.container-bio {
    background-color: #6E858A;
    margin: -1px -8px 10px -8px;
    padding: 0 8px 50px 8px;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.322);
}
.block-pic {
    display: flex;
    margin: 10px;
    border: 0.3rem solid;
    width: 50%;
    height: 50%;
}
.photo-pp {
    width: 100%;
    height: auto;
}
.bio {
    font-family: "Roboto condensed";
    color: #ffffff;
    width: 80%;
}
#t-propos {
    font-family: "Roboto condensed", "sans-serif";
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 10px;
    margin: 0 30px 0 0px;
    font-size: 1.5em;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.dezap1 {
    animation: fadein 1s;
  }
  .dezap2 { 
    animation: fadein 2s;
  }
  .dezap3 { 
    animation: fadein 3s;
  }
  .dezap4 {
    animation: fadein 4s;
  }
  
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
    
/* Container cards*/
    
.column {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
.container-cards {
        background-color: #f3ebd0;
        margin: 0 -8px;
        padding: 0 8px 50px 8px;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.322);
    }
    
.container-cards2 {
        background-color: #f3ebd0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 -8px;
        padding: 0 8px 50px 8px;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.322);
    }
    
.mob {
        display: block;
        width: 100%;
        
    }
    
#t-comp {
        display: flex;
        padding: 50px 0 10px 0px;
        margin: 0 0 0 10px;
        font-size: 1.5em;
        font-weight: 900;
        color: #000000;
    }


    .card {
        background-color: #000;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
        width:auto;
        height: 300px;
        position:relative;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 10px;
        cursor: pointer;
        perspective: 2500px;
        }
    
    .card:hover {
        box-shadow : 0 10px 10px rgba(0, 0, 0, 0.562), 
                     0 15px 10px rgba(0, 140, 255, 0.562);
        transform: perspective(2400px) translateY(-1%) rotateX(15deg);
        transition-duration: 0.3s;
    }
    .card-image {
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    .card-image img {
        width: 100% !important;
        height: 100%;
        position: absolute;
        object-fit: cover !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.3s;
    }
    .card:hover img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-timing-function: step-start 0.5s ;
        opacity: 0.7;
        transition-duration: 0.3s;
    }
    
    .card:hover .card-title {
        position: absolute;
        width: 100%;
        margin-top:-100px;
        height:100px;
        padding: 0px;
        justify-content: space-between;
        background-color: #000000;
        
    }
    
    .card-title {
        width: 100%;
        height: 0px;
        overflow:hidden;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        margin-top:0px;
        position:absolute;
        background-color:#000;
        font-size: 15px;
        line-height: 18px;
        text-align:center;
        color: #FFF;
        border-radius: 0 0 10px 10px;
    }
    
    .para-c {
        font-weight: 900;
        font-size: 13pt;
    }

    .page-up {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        background-color: #f3ebd0;
        color: black;
        width: 10px;
        height: 15px;
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.5em;
        opacity: 0.8;
    }
    .page-up:hover {
        background-color: #a09b8b;
        transition-duration: 0.3s;
        cursor: pointer;
    
    }
    
       /* FOOTER */
    
    footer {
        background-color: #000000;
        background-size: auto;
        color: white;
        width: auto;
        padding-left: 0;
        margin: 0 -8px -10px -10px;
        line-height: 1.5em;
    }
    
    footer a {
        text-align: left !important;
    }
    
    footer a:visited {
        color: white !important;
    }
    
    footer a:link {
        color: white !important;
    }

        
    h3 {
        letter-spacing: 0.1em;
        font-weight: 500;
    }
    
}

@media screen and (min-width:481px){
    body {
    font-family: "Roboto", "Roboto Condensed", "Scope One" "sans-serif";
    background-color: black!important;
    background-image: radial-gradient(circle, rgba(208,243,243,0.5046393557422969) 0%, rgba(164, 192, 192, 0.493) 42%, rgba(66, 108, 121, 0.5) 72%, rgba(0,0,0,1) 100%), url(../assets/banimg.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
    }
    .logo_f {
        display: none;
        }
    .h3-foot {
        display: contents;
        }
    .card:hover {
        transition-duration: 0.3s;
        box-shadow : 0 10px 20px rgba(0,0,0,0.19), 
                     0 6px 10px rgba(0,0,0,0.23);
        }
    /* Block menu */

    /* container compétences accueil */
    .container-skill {
        background-color: #f3ebd0;
        margin: 0 -8px;
        padding: 0 8px 20px 8px;
    }
    .size-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 10px;
        border: 1px solid black;
        padding: 10px;
    }
    .fa-dev,
    .fa-image,
    .fa-book-open,.fa-image-portrait {
    font-size: 2em;
    }
    
    #t-skill{
        display: flex;
        justify-content: center;
        padding: 50px 0 10px 0px;
        margin: 0 0 0 10px;
        font-size: 1.5em;
        font-weight: 900;
        color: #000000;     
    }

    .bl-mid {
        align-items: center;
        color: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.582);
        padding: 50px;
    }
    .bann_t{
        margin: 0 -8px;
        background: linear-gradient(180deg, rgb(208, 243, 243) 0%, rgb(164, 192, 192) 42%, rgba(71,83,83,1) 72%, rgba(0,0,0,1) 100%);
        background-attachment: fixed;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.199);
        position: relative;
        display: flex;   
    }
    .bann_t::before{
        margin: -15px -8px;
        padding: 0;   
    }
    .mar-1 {
        margin: 0 20px;
    }

/* --------------------------------- */
#t-comp {
    display: flex;
    padding: 50px 0 10px 0px;
    margin: 0 0 0 10px;
    font-size: 1.5em;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
}
#t-graph {
    display: flex;
    padding: 50px 0 10px 0px;
    margin: 0 0 0 10px;
    font-size: 1.5em;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
    }    
}

.card {
    background-color: #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
    width:auto;
    height: 300px;
    position:relative;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    cursor: pointer;
    perspective: 2500px;
    }

.card:hover {
    box-shadow : 0 10px 10px rgba(0, 0, 0, 0.562), 
                 0 15px 10px rgba(0, 140, 255, 0.562);
    transform: perspective(2400px) translateY(-1%) rotateX(15deg);
    transition-duration: 0.3s;
}
.card-image {
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.card-image img {
    width: 100% !important;
    height: 100%;
    position: absolute;
    object-fit: cover !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
}
.card:hover img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: step-start 0.5s ;
    opacity: 0.7;
    transition-duration: 0.3s;
}

.card:hover .card-title {
    position: absolute;
    width: 100%;
    margin-top:-100px;
    height:100px;
    padding: 0px;
    justify-content: space-between;
    background-color: #000000;
    
}

.card-title {
    width: 100%;
    height: 0px;
    overflow:hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-top:0px;
    position:absolute;
    background-color:#000;
    font-size: 15px;
    line-height: 18px;
    text-align:center;
    color: #FFF;
    border-radius: 0 0 10px 10px;
}


.card,
a {
    text-decoration: none;
}

.fa-arrow-up{color: black;}
.page-up {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background-color: #f3ebd0;
    color: black;
    width: 10px;
    height: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    opacity: 0.8;
}
.page-up,.fa-arrow-up:hover {
    background-color: #a09b8b;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    cursor: pointer;
}

        /* HEADER // LOGO + MENU en dessous de 480px */
@media screen and (max-width:480px) {
    body {
    font-family: "Roboto", "Roboto Condensed", "Scope One" "sans-serif";
    background-color: black!important;
    background-image: radial-gradient(circle, rgba(208,243,243,0.5046393557422969) 0%, rgba(164, 192, 192, 0.493) 42%, rgba(66, 108, 121, 0.5) 72%, rgba(0,0,0,1) 100%), url(/assets/bann_h2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
    }
    /* .p-2 {
        padding: 10px 10px 20px 20px;
    } */
    .p-2 {
        padding: 10px 10px 20px 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* padding: 20px; */
        justify-content: center;
    }
    .logo {
        display: none;
    }
    
    .logo_f {
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        padding: 15px 0 0 0;
    }
    .h3-foot {
        display: none;
    }

    .t2 {
        display: block;
        flex-wrap: wrap;
        font-size: 1.4em;
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
    }
    
    /* Partie MENU */
    .menu  {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;  
    }
    .fa-palette, .fa-envelope, .fa-home {
        margin-right: 0;
    }
    .hidden {
        display: none;
    }
    .alignMenu {
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 10px;
        font-size: 2em;
    }
    .custom-btn {
        color: #000000;
        border-radius: 50px;
        padding: 10px 10px;
        margin: auto;
        display: flex;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        
  }
    .btn-m {
        border: none;
        color: #000000;
        margin: 5px 5px;
        
    }
   
    /* ----------- */


    /* modification des boutons du MENU */

    .mob-menu3 { /* 3eme bouton invisible */
        display: none !important;
    }
    .filtres {
        display: flex;
        justify-content: center !important;
        padding: 10px;
        margin: auto;
        box-shadow: none;
        width: 50%;
        font-size: 14pt;
        cursor: pointer;
    }
    
    .filtres:hover {
        background-color: #c1cdf7;
        border-radius: 30px;
        box-shadow: 5px 4px 30px rgb(42, 153, 243), inset -5px -5px 15px rgb(42, 153, 243), inset 5px 5px 20px rgb(146, 42, 243);
        transition-duration: 0.5s;
    }
    /* container Mes compétences */

.container-skill {
    background-color: #f3ebd0;
    display: block;
    margin: 20px -8px;
    padding: 0 8px 20px 8px;
}

.size-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.158);
    padding: 10px;
    
}
#t-skill{
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0px;
    margin: 0 0 0 10px;
    font-size: 1.5em;
    font-weight: 900;
    color: #000000;     
}
.fa-dev,
.fa-image,
.fa-book-open,.fa-image-portrait {
    font-size: 3em;
}
.bl-mid {
    align-items: center;
    color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.582);
    margin: 10px;
    padding: 30px;
    
}
    /* conteneur des cards */
    #t-graph {
        display: flex;
        padding: 50px 0 10px 0px;
        margin: 0 0 0 10px;
        font-size: 1.5em;
        font-weight: 900;
        color: #000000;
    }
    .container-cards {
        background-color: #f3ebd0;
        margin: 0 -8px;
        padding: 0 8px 50px 8px;
    }
    .container-cards2 {
        background-color: #f3ebd0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 -8px;
        padding: 0 8px 20px 8px;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.322);
    }
    .card {
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 0px;
        margin-right: 5px;
        /* box-shadow: 0 0 10px rgb(85, 85, 85); */
    }

    .card:hover {
        transition-duration: 0.3s;
        /* box-shadow: 0 2px 20px rgb(42, 153, 243); */
        box-shadow : 0 10px 20px rgba(0,0,0,0.19), 
                     0 6px 6px rgba(0,0,0,0.23);
    }

    /* flèche pour remonter en  haut */
.fa-arrow-up{color: black;}
.page-up {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background-color: #f3ebd0;
    color: black;
    width: 10px;
    height: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    opacity: 0.8;
}
.page-up,.fa-arrow-up:hover {
    background-color: #a09b8b;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    cursor: pointer;
}

     /* page mentions confs */

    .h2-conf {
        font-family: "Scope One";
        color: white;
    }
    .p-conf {
        font-family: "Roboto";
        color: rgb(150, 150, 150);
    }
    .copy {
        opacity: 0.5;
        padding-top: 10px;
    }
} 