/* couleurs : Primaire : #f3ebd0, Secondaire :#black, Tertiaire : #white
   Fonts : : Roboto, Roboto condensed, Scope One, sans-serif.


   version DESKTOP.
*/
body {
    font-family: "Roboto", "Roboto Condensed", "Scope One" "sans-serif";
    background-color: black!important;
    background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(243, 235, 208, 0.281) 10%, rgba(0, 0, 0, 0.658) 80%), url("../assets/banimg.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain !important;
    background-attachment: fixed;
}
* {
    font-family: "Roboto", "sans-serif";
}

a {
    color: rgb(255, 255, 255);
}

h3 {
    font-family: "Roboto", "sans-serif";
}

.p-1 {
    padding: 10px;
}
.p-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}


@media screen and (min-width:981px) {
* {
    font-family: "Roboto", "Roboto Condensed", "Scope One", "sans-serif";
}

a {
    color: rgb(255, 255, 255);
}


h3 {
    font-family: "Roboto", "sans-serif";
}

.p-1 {
    padding: 10px;
    width: 95%;
    
}
h1 {
    font-family: "Roboto Condensed";
    color: white;
    text-transform: uppercase;
    text-align: center;
}


/* HEADER // LOGO + FORMU VILLE */



#logo{
    top: fixed;
}
.logo {
    width: 10%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
}

.bann-header {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    margin-right: -8px;
    align-items: center;
}

.t1 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding: 0 20px;
}

.t2 {
    font-size: 1.2em;
    margin-top: -20px;
    padding-left: 20px;
    text-align: center;
    color: white;
}


/* Partie MENU */
.menu {
    background-color: #f3ebd0;
    display: block;
    padding: 10px 0px 10px 0;
    margin: 0 -8px 0 -8px;
    position: -webkit- sticky;
    position: sticky;
    z-index: 1000;
    opacity: 1;
    top: 0;
}

.alignMenu {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    
}

.fa-palette, .fa-envelope, .fa-home {
    margin-right: 5px;
}

/* bouton menu */
.custom-btn {
    width: auto;
    color: #000000 ;
    border-radius: 30px;
    padding: 10px 25px;
    /* font-weight: 500; */
    background-color: #f3ebd0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
     /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1); */
    outline: none;
  }
.btn-m {
    border: none;
    color: #000000;
  }
  .btn-m:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    direction: rtl;
    z-index: -1;
    box-shadow:
     0px 0px 20px 0px rgba(255, 255, 255, 0.6),
     0px 0px 5px 0px rgba(255, 255, 255, 0.6),
     7px 7px 20px 10px rgba(255, 253, 253, 0),
     4px 4px 5px 0px rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
    
  }
  .btn-m:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .btn-m:hover:after {
    color: #ffffff;
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-m:active {
    top: 2px;
  }
  
/* ----------- */

/* conteneur A PROPOS */

.container-bio {
    background-color: #f3ebd0;
    margin: -1px -8px 10px -8px;
    padding: 0 8px 50px 8px;
}
.block-pic {
    display: block;
    margin: 30px;
    border: 0.3rem solid;
    border-bottom-width: 2rem;
    box-shadow: -5px 5px 5px rgb(185, 185, 185);
    width: 400px;
    height: 400px;
}
.photo-pp {
    width: 100%;
    height: auto;
}
.bio {
    font-family: "Roboto condensed";
    color: #000000;
    width: 30%;
}
#t-propos {
    font-family: "Roboto condensed", "sans-serif";
    display: flex;
    justify-content: space-around;
    padding: 30px 0 0px 10px;
    margin: 0px 30px 0 0px;
    font-size: 1.5em;
    font-weight: 900;
    color: black;
}
.dezap1 {
    animation: fadein 1s;
  }
  .dezap2 { 
    animation: fadein 2s;
  }
  .dezap3 { 
    animation: fadein 3s;
  }
  .dezap4 {
    animation: fadein 4s;
  }
  
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }

/* container Mes compétences */

.container-skill {
    background-color: #f3ebd0;
    display: block;
    margin: 0 0px;
    padding: 0 8px 20px 8px;
}

.size-skill{
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.158);
    padding: 10px;
}
#t-skill{
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0px;
    margin: 0 0 0 10px;
    font-size: 1.5em;
    font-weight: 900;
    color: #000000;     
}
.fa-dev,
.fa-image,
.fa-book-open,.fa-image-portrait {
    font-size: 2em;
}

/* Container cards*/

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
}
.container-cards {
    background-color: #f3ebd0;
    margin: -1px -8px 10px -8px;
    padding: 0 8px 50px 8px;
}

.container-cards2 {
    background-color: #f3ebd0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 -8px;
    padding: 0 8px 50px 8px;
}

.desktop {
    display: block;
    width: 100%;
    margin-left: 30px;
}



.card {
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 0;
    margin-right: 0;
    /* box-shadow: 0 0 10px rgb(85, 85, 85); */
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    perspective: 2500px;
}

.card-image {
    display: flex;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    padding: 0;
    
}
.c-img{
    opacity: 0;
}
.c-img:hover{
    opacity: 1;
}
.c-img2:hover{
    opacity: 0;
}
.card-image img {
   object-fit:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;    
}

.card-title {
    padding: 5px 0 5px 15px;
    line-height: 20px;
}

.card,
a {
    text-decoration: none;
}
.card:hover {
    transition-duration: 0.3s;
    /* box-shadow: 0 2px 20px rgb(42, 153, 243); */
    box-shadow : 0 10px 10px rgba(0, 0, 0, 0.562), 
		         0 15px 10px rgba(0, 140, 255, 0.562) !important;
                 transform: perspective(2400px) translateY(-1%) rotateX(15deg)         
}
.card-image:hover img {
    width: 100%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    
}

.para-c {
    font-weight: 900;
    font-size: 13pt;
}

/* FOOTER */
.logo_f {
    display: none;
}
.fa-arrow-up{color: black;}
.page-up {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background-color: #f3ebd0;
    color: black;
    width: 10px;
    height: 15px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    opacity: 0.8;
}
.page-up,.fa-arrow-up:hover {
    background-color: #a09b8b;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    cursor: pointer;
}

footer {
    background-color: #000000;
    background-size: auto;
    color: white;
    width: auto;
    padding-left: 0;
    margin: 10px -8px -10px -8px;
    /* line-height: 1.5em; */
}

footer a {
    text-align: left !important;
}

footer a:visited {
    color: white !important;
}

footer a:link {
    color: white !important;
}

.copy {
    opacity: 0.5;
    padding-top: 10px;
}
h3 {
    letter-spacing: 0.1em;
    font-weight: 500;
}

}