/* couleurs : Primaire : #9356DC, Secondaire :#FF79DA, Tertiaire : #99E2D0
   Fonts : Logo et titres: Shrikhand, Texte: Roboto.

   Fichier validé W3C.

   Page ACCUEIL version DESKTOP.
*/

@media screen and (min-width:1280px) {
* {
    font-family: "Roboto", "sans-serif";
}

a {
    color: rgb(255, 255, 255);
}

h3 {
    font-family: "Roboto", "sans-serif";
}

.p-1 {
    padding: 10px;
    width: 47%;
}

.p-2 {
    padding: 20px;
}



/* HEADER // LOGO + FORMU VILLE */
.logo {
    width: 20%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
}

.find {
    border: transparent;
    background-color: #eaeaea;
    padding-left: 20px;
    font-weight: 900;
    outline: none;
}



.centreFind {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-left: 25px;
}

.rez {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    margin-right: -8px;
    align-items: center;
}

.t1 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding: 0 20px;
}

.t2 {
    font-size: 1.2em;
    margin-top: -20px;
    padding-left: 20px;
    text-align: center;
}

/* bouton explorer */
.exp {
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 15px;
    border-radius: 50px;
    border: transparent;
    box-shadow: 0px 5px 5px rgb(202, 202, 202);
    font-weight: 800;
    color: white;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.buttonExp {
    padding-top: 10px;
    padding-bottom: 50px;
}

.exp:hover {
    filter: hue-rotate(15deg);
    box-shadow: 0px 5px 5px rgb(139, 139, 139);
    transition-duration: 0.5s;
}

/* Partie FONCTIONNEMENT */
.container-1 {
    padding: 30px 0px;
    margin: auto;
   
}
.fonctionnement {
    font-weight: 900;
    font-size: 1.5em;
    text-align: center; 
}

.alignFiltres {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
.fa-palette, .fa-code, .fa-gamepad {
    margin-right: 5px;
}   
.filtres {
    display: flex;
    color: white;
    background-color: #000000;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 3px 20px rgb(42, 153, 243);
    width: auto;
    font-size: 14pt;
    margin-left: 10px;
    margin-right: 30px;
    align-items: center;
    cursor: pointer;
}

.circle {
    display: flex;
    position: relative;
    background-color: #9356DC;
    padding: 4px 10px;
    border-radius: 50%;
    color: white;
    margin-right: 60px;
    margin-left: -50px;
}

.filtres:hover {
    color: #5690dc;
    filter: hue-rotate(15deg);
    background-color: #001530;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgb(38, 89, 165);
    transition-duration: 0.5s;
}


/* Container cards*/

.container-cards {
    background-color: #c1cdf7;
    display: block;
    align-items: center;
    margin: 0 -8px;
    padding: 0 8px 50px 8px;
}



.desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-left: 30px;
}

#t-comp {
    padding: 50px 0 10px 10px;
    margin: 0 0 0 30px;
    font-size: 1.5em;
    font-weight: 900;
}

.t-new {
    display: flex;
    position: relative;
    float: right;
    top: -200px;
    color: #008766;
    background-color: #99e2d0;
    padding: 0 20px 0 20px;
    margin: 10px 10px 0 0;
    font-weight: 800;

}

.card {
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 0;
    margin-right: 20px;
    box-shadow: 0 0 10px rgb(192, 191, 191);
    
}

.card-image {
    display: flex;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    margin-right: 5px;
    margin-left: -10px;
    
}

.card-image img {
    object-fit: cover;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    padding: 5px 0 10px 15px;
    line-height: 5px;
}

.card,
a {
    text-decoration: none;
}
.card-image:hover img {
    filter: grayscale(80%);
    transition-duration: 0.5s ;
}

.para-c {
    font-weight: 900;
    font-size: 13pt;
}

.fa.fa-heart {
    display: flex;
    position: relative;
    padding-right: 20px;
    bottom: 50px;
    float:right;
    color: transparent;
    -webkit-text-stroke: 1px rgb(2, 2, 2);
    font-size: 1.5em;
    cursor: pointer;
  }
 
  .fa.fa-heart:hover {
    animation: fadein 2s;
    transition: 5s;
    transition-timing-function: ease;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: transparent;
  }

  .fa.fa-heart:hover {
    animation: fadein 2s;
  }
  @keyframes fadein {
    from {
        opacity:0%;
    }
    to {
        opacity:100%;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0%;
    }
    to {
        opacity:100%;
    }
}

/* FOOTER */

footer {
    background-color: #000000;
    background-size: auto;
    color: white;
    width: auto;
    padding-left: 0;
    margin: 0 -8px -10px -10px;
    line-height: 1.5em;
}

footer a {
    text-align: left !important;
}

footer a:visited {
    color: white !important;
}

footer a:link {
    color: white !important;
}

.fork {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.fa.fa-utensils,
.fa-solid.fa-handshake-angle {
    margin-right: 10px;
}

.fa-solid.fa-handshake-angle {
    font-size: 9pt;
}

h3 {
    letter-spacing: 0.1em;
    font-weight: 500;
}

}