/* couleurs : Primaire : #9356DC, Secondaire :#FF79DA, Tertiaire : #99E2D0
   Fonts : Logo et titres: Shrikhand, Texte: Roboto.
   
   Page uniquement pour le Loader.
*/


* {
    font-family: "Roboto", "sans-serif";
}

a {
    color: black;
}

h3 {
    font-family: "Shrikhand", "sans-serif";
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}


/* loader animation */

.main { /* site entier */
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#loading {
    position: sticky;
    top: 250px;
    z-index: -1;
}
.shadow { /*ombre sous le loader*/
    margin-top: 10px;
    width: 100px;
    height: 5px;
    border-radius: 50%;
    margin-right: auto;
    margin-left:auto;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #9356DC,
                25px 2px 10px 2px #9356DC inset;
    opacity: 30%;
    animation: fadeOut 3s;
    -webkit-animation: fadeOut 3s;
    animation-fill-mode: forwards;
  }

.fas.fa-utensils {
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    visibility: visible;
    width: 110px;
    height: 110px;
    border: 10px solid #9356DC;
    padding: 20px;
    border-radius: 50%;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    box-shadow: 0px 0px 10px #9356DC inset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotate 1s ease-in-out infinite, fadeOut 3s;
    -webkit-animation: rotate 1s ease-in-out infinite, fadeOut 3s;
    animation-fill-mode: forwards;

}

@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
        margin-top: -370px;
    }
}

@keyframes fadeOut {
    99% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
    }
}