/* couleurs : Primaire : #9356DC, Secondaire :#FF79DA, Tertiaire : #99E2D0
   Fonts : Logo et titres: Roboto, Texte: Roboto.

   Fichier validé W3C.

   Page ACCUEIL version mobile.
*/

@media screen and (max-width:980px) {
    * {
        font-family: "Roboto", "sans-serif";
    }
    
    a {
        color: rgb(255, 255, 255);
    }
    
    h3 {
        font-family: "Roboto", "sans-serif";
    }
    .p-1 {
        padding: 10px;
        width: 95%;    
    }
    
    .p-2 {
        padding: 20px;
    }
    
    h1 {
        font-family: "Roboto Condensed";
        color: white;
        text-transform: uppercase;
        text-align: center;
        width: auto;
    }

    /* HEADER // LOGO + FORMU VILLE */
    .logo {
        width: 20%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 20px 0;
    }
    .fa-arrow-left {
        display: none;
    }
    
   .bann-header {
        background-color: #000000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-left: -10px;
        margin-right: -8px;
        align-items: center;
    }
    
    .t1 {
        font-size: 1.5em;
        font-weight: bolder;
        text-align: center;
        /* padding: 0 20px; */
    }
    
    .t2 {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2em;
        margin-top: -20px;
        padding: 0 10px;
        text-align: center;
    }

     /* page politique confidentialité */
    .container-conf {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        padding: 150px 100px;
    }

    .h2-conf {
        font-family: "Scope One";
        color: white;
    }
    
    .p-conf {
        font-family: "Roboto";
        color: rgb(150, 150, 150);
    }
    
    /* Partie FONCTIONNEMENT */
    .menu {
        padding: 30px 0px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
    }
    .fonctionnement {
        font-weight: 900;
        font-size: 1.5em;
        text-align: center; 
    }
    
    .alignFiltres {
        display: flex;
        flex-wrap: wrap;
        position: relative;

    }
    .fa-palette, .fa-code, .fa-gamepad {
        margin-right: 5px;
    }   
    .filtres {
        display: flex;
        justify-content: center;
        color: white;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 5px 5px 15px rgb(42, 153, 243), -5px -5px 20px rgb(146, 42, 243);
        width: auto;
        font-size: 14pt;
        cursor: pointer;
    }
    
    .filtres:hover {
        color: rgb(0, 0, 0);
        /* background-color: #c1cdf7; */
        border-radius: 30px;
        box-shadow: 5px 4px 30px rgb(42, 153, 243), inset -5px -5px 15px rgb(42, 153, 243), inset 5px 5px 20px rgb(146, 42, 243);;
        transition-duration: 0.5s;
    }
    
    
    /* Container cards*/
    
    
    .column {
        display: flex;
        flex-direction: column;
       
    }
    .container-cards {
        background-color: #c1cdf7;
        margin: 0 -10px;
        padding: 0 8px 50px 8px;
    }
    
    .container-cards2 {
        background-color: #c1cdf7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 ;
        padding: 0 8px 50px 8px;
    }
    
    
    .mob {
        display: block;
        width: 100%;
        
    }
    
    #t-comp {
        display: flex;
        padding: 50px 0 10px 10px;
        margin: 0 0 0 30px;
        font-size: 1.5em;
        font-weight: 900;
        color: #000000;
        
    }
    
    .t-new {
        display: flex;
        position: relative;
        float: right;
        top: -200px;
        color: #008766;
        background-color: #99e2d0;
        padding: 0 20px 0 20px;
        margin: 10px 10px 0 0;
        font-weight: 800;
    
    }
    
    .card {
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        border-radius: 20px;
        padding: 0px;
        margin-right: 0;
        /* box-shadow: 0 0 10px rgb(85, 85, 85); */
    }
    
    .card-image {
        display: flex;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
    }
    
    .card-image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.5s;
    }
    
    .card-title {
        padding: 5px 0 10px 15px;
        line-height: 5px;
    }
    
    .card,
    a {
        text-decoration: none;
    }
    .card:hover {
        transition-duration: 0.3s;
        box-shadow: 0 2px 20px rgb(42, 153, 243);
    }
    .card-image:hover img {
        width: 110%;
        height: 110%;
        transition-timing-function: ease-in-out;
        opacity: 0.7;
        transition-duration: 0.5s;
    }
    
    .para-c {
        font-weight: 900;
        font-size: 13pt;
    }
    
       /* FOOTER */
    
    footer {
        background-color: #000000;
        background-size: auto;
        color: white;
        width: auto;
        padding-left: 0;
        margin: 0 -8px -10px -10px;
        line-height: 1.5em;
    }
    
    footer a {
        text-align: left !important;
    }
    
    footer a:visited {
        color: white !important;
    }
    
    footer a:link {
        color: white !important;
    }
    
    .fork {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
    }
    
    .fa.fa-utensils,
    .fa-solid.fa-handshake-angle {
        margin-right: 10px;
    }
    
    .fa-solid.fa-handshake-angle {
        font-size: 9pt;
    }
    
    h3 {
        letter-spacing: 0.1em;
        font-weight: 500;
    }
    
    }

        /* HEADER // LOGO + MENU en dessous de 480px */
    @media screen and (max-width:480px) {

    .logo {
        display: none;
    }
    .fa-arrow-left {
        background-color: #000000;
        border-radius: 50%;
        padding: 5px;
        color: white;
        display: flex;
        position: absolute;
        margin-top: 29px;
        font-size: 1.5em;
        margin-left: 10px;
        cursor: pointer;
    }

    .t2 {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4em;
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
    }
    
    /* Partie MENU */
    .menu {
        padding: 0 0 20px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: center;   
    }

     /* page politique confidentialité */
     .container-conf {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        padding: 10px;
    }

    .h2-conf {
        font-family: "Scope One";
        color: white;
    }
    
    .p-conf {
        font-family: "Roboto";
        color: rgb(150, 150, 150);
    }
    /* ----------------------------------- */
    .mob-menu3 {
        display: none !important;
    }
    
    .alignFiltres {
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 10px;
        padding: 10px;
    }
    .fa-palette, .fa-code, .fa-gamepad {
        margin-right: 5px;
    }   
    .filtres {
        display: flex;
        justify-content: center !important;
        padding: 10px;
        margin: auto;
        box-shadow: none;
        width: 90%;
        font-size: 14pt;
        cursor: pointer;
    }
    
    .filtres:hover {
        background-color: #c1cdf7;
        border-radius: 30px;
        box-shadow: 5px 4px 30px rgb(42, 153, 243), inset -5px -5px 15px rgb(42, 153, 243), inset 5px 5px 20px rgb(146, 42, 243);
        transition-duration: 0.5s;
    }

    /* conteneur des cards */
    .container-cards {
        background-color: #c1cdf7;
        margin: 0 -8px;
        padding: 0 8px 50px 8px;
    }
    .container-cards2 {
        background-color: #c1cdf7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 -8px;
        padding: 0 8px 20px 8px;
    }
    .card {
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        border-radius: 20px;
        padding: 0px;
        margin-right: 5px;
        /* box-shadow: 0 0 10px rgb(85, 85, 85); */
    }

     /* page mentions confs */

    .h2-conf {
        font-family: "Scope One";
        color: white;
    }
    .p-conf {
        font-family: "Roboto";
        color: rgb(150, 150, 150);
    }
} 